{{template "layout.html" .}}

{{define "content"}}
<div class="container my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <i class="bi bi-tools display-1 text-primary mb-4"></i>
            <h1 class="display-4">Coming Soon!</h1>
            <p class="lead text-muted">This tool is under construction. We are working hard to bring it to you as soon as possible.</p>
            <a href="/tools" class="btn btn-primary mt-4">Back to All Tools</a>
        </div>
    </div>
</div>
{{end}}
