{{define "content"}}
<hgroup class="text-center mb-4">
<h2><i class="bi bi-braces me-2"></i>JSON Validator & Formatter</h2>
    <p class="text-body-secondary">Structurally validate and format your JSON data in a readable, indented manner.</p>
</hgroup>
<form action="/tools/json-formatter" method="POST">
    <div class="mb-3">
        <textarea class="form-control font-monospace" name="jsonInput" rows="15" placeholder="Paste JSON data here...">{{.ToolSpecificData.InputJSON}}</textarea>
    </div>
<button type="submit" class="btn btn-primary w-100"><i class="bi bi-check-circle-fill me-2"></i>Validate and Format</button>
</form>

{{if .ToolSpecificData.Result}}
    {{if .ToolSpecificData.IsValid}}
    <div class="card mt-4 border-success">
        <div class="card-header"><i class="bi bi-check-circle-fill me-2"></i>Result: Valid JSON</div>
        <div class="card-body">
            <pre><code class="text-success font-monospace">{{.ToolSpecificData.Result}}</code></pre>
        </div>
    </div>
    {{else}}
    <div class="card mt-4 border-danger">
        <div class="card-header"><i class="bi bi-x-circle-fill me-2"></i>Result: Invalid JSON</div>
        <div class="card-body">
            <p class="text-danger">{{.ToolSpecificData.Error}}</p>
            <pre><code class="text-danger font-monospace">{{.ToolSpecificData.Result}}</code></pre>
        </div>
    </div>
    {{end}}
{{end}}
{{end}}