:root {
  --background-color: #11151c;
  --surface-color: #1a202c;
  --border-color: #2d3748;

  --text-color: #e2e8f0;
  --text-secondary-color: #a0aec0;

  --bs-primary: #5a3de0;
  --bs-primary-rgb: 90, 61, 224;
  --bs-btn-color: #ffffff;

  --bs-link-color-rgb: 90, 61, 224;
  --bs-link-hover-color-rgb: 124, 58, 237;

  --custom-alert-danger-bg: rgba(220, 53, 69, 0.15);
  --custom-alert-danger-border: rgba(220, 53, 69, 0.3);
  --custom-alert-danger-text: #f8d7da;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

.text-body-secondary {
  color: var(--text-secondary-color) !important;
}

a {
  color: rgb(var(--bs-link-color-rgb));
  text-decoration: none;
}

a:hover {
  color: rgb(var(--bs-link-hover-color-rgb));
  text-decoration: underline;
}

.navbar {
    background-color: rgba(26, 32, 44, 0.4); /* Increased transparency */
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07); /* Subtle border for definition */
}

div a + span {
    color: var(--text-secondary-color);
}

.card-title.text-primary {
    color: #c8d0d8 !important;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  background-image: none !important;
  border: 1px solid var(--bs-primary) !important;
  color: var(--bs-btn-color) !important;
  font-weight: 600;
  transition: all 0.2s ease-in-out !important;
}

.btn-primary:hover {
  box-shadow: 0 0 3px rgba(var(--bs-primary-rgb), 0.2);
  filter: none;
  transform: scale(1.005);
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(var(--bs-primary-rgb), 0.1);
}

.alert {
  border-radius: var(--bs-border-radius) !important;
  border-width: 1px;
}

.alert-danger {
  color: var(--custom-alert-danger-text) !important;
  background-color: var(--custom-alert-danger-bg) !important;
  border-color: var(--custom-alert-danger-border) !important;
}

.alert-success {
  color: #d4edda !important;
  background-color: #28a745 !important;
  border-color: #218838 !important;
  box-shadow: none !important;
}

.form-control {
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control.form-control-sm {
  border: 1px solid var(--border-color);
  box-shadow: none;
}

.form-control:focus {
  background-color: var(--surface-color);
  color: var(--text-color);
  border-color: var(--bs-primary) !important;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25) !important;
}

nav ul li > a,
nav ul li > details {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.font-monospace {
    font-family: 'Fira Code', monospace !important;
}